In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import re
import plotly.express as px
from shapely.geometry import Point
import geopandas as gpd
import folium
from folium.plugins import MarkerCluster
from folium.plugins import FastMarkerCluster
from tqdm.notebook import tqdm
%matplotlib inline

In [1]:
import pandas as pd

In [2]:
housing = pd.read_csv('../data/assessment.csv')

In [3]:
housing

,apn,assessdate,landappr,imprappr,totlappr,propaddr,propcity,propzip,council,taxdist
0,00200000100,2021-01-01,0,0,0,1005 HIGHLAND AVE,GOODLETTSVILLE,37072,3.0,GSD
1,00200000100,2017-01-01,0,0,0,1005 HIGHLAND AVE,GOODLETTSVILLE,37072,3.0,GSD
2,00200000100,2013-01-01,0,0,0,1005 HIGHLAND AVE,GOODLETTSVILLE,37072,3.0,GSD
3,00200000100,2009-01-01,0,0,0,1005 HIGHLAND AVE,GOODLETTSVILLE,37072,3.0,GSD
4,00200000100,2005-01-01,0,0,0,1005 HIGHLAND AVE,GOODLETTSVILLE,37072,3.0,GSD
...,...,...,...,...,...,...,...,...,...,...
1609092,188100F00300CO,2018-01-01,38400,0,38400,505 PLEASANT ST,NOLENSVILLE,37135,33.0,GSD
1609093,188100F00400CO,2021-01-01,63200,273100,336300,507 PLEASANT ST,NOLENSVILLE,37135,33.0,GSD
1609094,188100F00400CO,2018-08-01,38400,217000,255400,507 PLEASANT ST,NOLENSVILLE,37135,33.0,GSD
1609095,188100F00400CO,2018-08-01,38400,217000,255400,507 PLEASANT ST,NOLENSVILLE,37135,33.0,GSD
1609096,188100F00400CO,2018-01-01,38400,0,38400,507 PLEASANT ST,NOLENSVILLE,37135,33.0,GSD

In [4]:
housing_q2 = pd.read_csv('../data/housing_q2.csv')

In [5]:
housing_q2

,apn,oldest_year,permit_year,change_years,location,original_appr,propzip,ludesc,current_appr
0,09112001800,1975,2021,46,4403 A ILLINOIS AVE 37209,7340,37209,SINGLE FAMILY,166500
1,13306017800,1975,2021,46,3708 YELTON DR 37211,14410,37211,SINGLE FAMILY,313200
2,09401041800,1975,2021,46,706 S 16TH ST 37206,8530,37206,SINGLE FAMILY,180000
3,07111011600,1975,2021,46,315 MARSHALL ST 37207,7960,37207,SINGLE FAMILY,492500
4,14616008600,1975,2021,46,500 B LANDON DR 37220,17860,37220,SINGLE FAMILY,365300
...,...,...,...,...,...,...,...,...,...
5269,164100A46000CO,2007,2017,10,2004 ALPENGLOW PT 37013,34000,37013,SINGLE FAMILY,275000
5270,150150B05900CO,2007,2017,10,649 CONEFLOWER TRL 37013,40000,37013,SINGLE FAMILY,177600
5271,032090B03300CO,2007,2017,10,212 INDIAN SUMMER CT 37207,40000,37207,SINGLE FAMILY,257200
5272,164100A43100CO,2007,2017,10,704 ABERCORN CT 37013,34000,37013,SINGLE FAMILY,335400
5273,128160B00200CO,2003,2013,10,405 SUMMIT OAKS DR 37221,50000,37221,SINGLE FAMILY,563200

In [7]:
housing_q2.propzip.value_counts(ascending=False)

37209    761
37206    597
37205    384
37013    368
37207    343
37208    312
37212    279
37215    271
37204    224
37211    211
37216    210
37115    198
37138    150
37214    140
37210    128
37221    114
37217    110
37218     88
37072     73
37203     68
37076     63
37080     59
37027     40
37220     29
37189     27
37135     11
37143      6
37064      4
37015      3
37122      3
Name: propzip, dtype: int64