# Get Model Data Imported and Cleaned

In [1]:
# import statements
import pandas as pd
from sqlalchemy import create_engine

In [2]:
# Set display options
pd.options.display.max_columns = 200
pd.options.display.max_rows = 500
pd.options.display.max_colwidth = None

In [3]:
# assign location of postgres database to a string
connection_string = "postgres://postgres:postgres@localhost:5432/housing"

In [4]:
# establish connection
engine = create_engine(connection_string)

### Create assessments and permits dataframes
*Per conversation on May 13, the data are limited to 1993 - 2021 for assessments and permits.*

In [104]:
assessments_query = '''
-- query to get all historical assessments for residences in Davidson county since 1993
WITH historicals AS (-- get historical assessment data for each property when it was residential 
	SELECT a.apn
		, a.effectivedate AS date
	-- also pull in the earliest address data we have for the apn
		, COALESCE(p.ludesc, pu.ludesc) AS prop_type
		, COALESCE(p.propaddr, pu.propaddr) AS prop_addr
		, COALESCE(p.propcity, pu.propcity) AS prop_city
		, COALESCE(p.propzip, pu.propzip) AS prop_zip
		, AVG(a.totalapprvalue) AS prop_value
		--, COALESCE(p.council, pu.council) AS prop_council
		--, COALESCE(p.taxdist, pu.taxdist) AS prop_taxdist

	FROM assessment AS a
	LEFT JOIN property AS p
		ON p.apn = a.apn
	LEFT JOIN property_updated AS pu
		ON pu.apn = a.apn
	
	WHERE a.classdesc = 'RESIDENTIAL' -- only get assessment data for properties when they were classified as residential
		AND a.effectivedate >= DATE('1993-01-01') -- only get data starting in 1993, when assessments regularized to every 4 years
		AND (-- only get apns that were counted as some form of residential property in 2017 or 2020;
			-- there are no apns that had more than one ludesc in either table, but a handful do change between tables
			p.ludesc IN (
				'SINGLE FAMILY'
				, 'RESIDENTIAL CONDO'
				, 'DUPLEX'
				, 'TRIPLEX'
				, 'QUADPLEX'
				, 'MOBILE HOME'
				)
			OR pu.ludesc IN (
				'SINGLE FAMILY'
				, 'RESIDENTIAL CONDO'
				, 'DUPLEX'
				, 'TRIPLEX'
				, 'QUADPLEX'
				, 'MOBILE HOME'
				)
			)
    
    GROUP BY 1,2,3,4,5,6
),

recents AS (-- get address and property type info for 2021 and any non-overlapping 2017 apns
	SELECT pu.apn
		, pu.assessdate AS date
		, pu.ludesc AS prop_type
		, pu.propaddr AS prop_addr
		, pu.propcity AS prop_city
		, pu.propzip AS prop_zip
        , AVG(pu.totlappr) AS prop_value
		--, pu.council AS prop_council
		--, pu.taxdist AS prop_taxdist
	
	FROM property_updated AS pu
	
	WHERE pu.ludesc IN (
		'SINGLE FAMILY'
		, 'RESIDENTIAL CONDO'
		, 'DUPLEX'
		, 'TRIPLEX'
		, 'QUADPLEX'
		, 'MOBILE HOME'
		)
    
    GROUP BY 1,2,3,4,5,6
	
	UNION -- drop duplicate rows, just in case they sneak in
	
	SELECT p.apn
		, p.assessdate AS date
		, p.ludesc AS prop_type
		, p.propaddr AS prop_addr
		, p.propcity AS prop_city
		, p.propzip AS prop_zip
		, AVG(p.totlappr) AS prop_value
		--, p.council AS prop_council
		--, p.taxdist AS prop_taxdist
	
	FROM property AS p
	
	WHERE p.ludesc IN (
		'SINGLE FAMILY'
		, 'RESIDENTIAL CONDO'
		, 'DUPLEX'
		, 'TRIPLEX'
		, 'QUADPLEX'
		, 'MOBILE HOME'
		)
        
    GROUP BY 1,2,3,4,5,6
)

SELECT *
FROM recents

UNION -- drop duplicates, in case there are any

SELECT *
FROM historicals

ORDER BY 1, 2 DESC
;
'''

In [105]:
assessments = pd.read_sql(assessments_query, con = engine)

In [106]:
assessments.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1537895 entries, 0 to 1537894
Data columns (total 7 columns):
 #   Column      Non-Null Count    Dtype
---  ------      --------------    -----
 0   apn         1537895 non-null  object
 1   date        1537894 non-null  object
 2   prop_type   1537895 non-null  object
 3   prop_addr   1537895 non-null  object
 4   prop_city   1537895 non-null  object
 5   prop_zip    1537895 non-null  int64
 6   prop_value  1537894 non-null  float64
dtypes: float64(1), int64(1), object(5)
memory usage: 82.1+ MB

In [107]:
assessments.head()

,apn,date,prop_type,prop_addr,prop_city,prop_zip,prop_value
0,00200000100,2021-01-01,SINGLE FAMILY,1005 HIGHLAND AVE,GOODLETTSVILLE,37072,0.0
1,00200000100,2017-01-01,SINGLE FAMILY,1005 HIGHLAND AVE,GOODLETTSVILLE,37072,0.0
2,00200000300,2021-01-01,SINGLE FAMILY,1012 OLD BUCK HILL RD,GOODLETTSVILLE,37072,198400.0
3,00200000300,2017-01-01,SINGLE FAMILY,1012 OLD BUCK HILL RD,GOODLETTSVILLE,37072,135400.0
4,00200000300,2013-01-01,SINGLE FAMILY,1012 OLD BUCK HILL RD,GOODLETTSVILLE,37072,114000.0

### Manually create means of assessments on same date
#### Delete once this problem is solved by SQL query

In [70]:
assessment_means = assessments.groupby([
    'apn', 'date', 'prop_type', 'prop_addr', 'prop_city', 'prop_zip'])['prop_value'].mean().reset_index()
assessment_means

,apn,date,prop_type,prop_addr,prop_city,prop_zip,prop_value
0,00200000100,2017-01-01,SINGLE FAMILY,1005 HIGHLAND AVE,GOODLETTSVILLE,37072,0.0
1,00200000100,2021-01-01,SINGLE FAMILY,1005 HIGHLAND AVE,GOODLETTSVILLE,37072,0.0
2,00200000300,1993-01-01,SINGLE FAMILY,1012 OLD BUCK HILL RD,GOODLETTSVILLE,37072,64550.0
3,00200000300,1997-01-01,SINGLE FAMILY,1012 OLD BUCK HILL RD,GOODLETTSVILLE,37072,92400.0
4,00200000300,2001-01-01,SINGLE FAMILY,1012 OLD BUCK HILL RD,GOODLETTSVILLE,37072,102400.0
...,...,...,...,...,...,...,...
1537576,188100G00200CO,2021-01-01,RESIDENTIAL CONDO,2000 B OAK TRAIL DR,NOLENSVILLE,37135,331200.0
1537577,188100G00300CO,2018-01-01,RESIDENTIAL CONDO,2000 C OAK TRAIL DR,NOLENSVILLE,37135,33000.0
1537578,188100G00300CO,2020-01-01,RESIDENTIAL CONDO,2000 C OAK TRAIL DR,NOLENSVILLE,37135,221700.0
1537579,188100G00300CO,2020-03-01,RESIDENTIAL CONDO,2000 C OAK TRAIL DR,NOLENSVILLE,37135,284050.0
1537580,188100G00300CO,2021-01-01,RESIDENTIAL CONDO,2000 C OAK TRAIL DR,NOLENSVILLE,37135,334100.0

In [9]:
permits_query = '''
-- query to get all historical assessments for residences in Davidson county since 1993
WITH first_assessment AS (-- get historical assessment data for each property when it was residential 
	SELECT a.apn
		, MIN(a.effectivedate) AS date

	FROM assessment AS a
	LEFT JOIN property AS p
		ON p.apn = a.apn
	LEFT JOIN property_updated AS pu
		ON pu.apn = a.apn
	
	WHERE a.classdesc = 'RESIDENTIAL' -- only get assessment data for properties when they were classified as residential
		AND a.effectivedate >= DATE('1993-01-01') -- only get data starting in 1993, when assessments regularized to every 4 years
		AND (-- only get apns that were counted as some form of residential property in 2017 or 2020;
			-- there are no apns that had more than one ludesc in either table, but a handful do change between tables
			p.ludesc IN (
				'SINGLE FAMILY'
				, 'RESIDENTIAL CONDO'
				, 'DUPLEX'
				, 'TRIPLEX'
				, 'QUADPLEX'
				, 'MOBILE HOME'
				)
			OR pu.ludesc IN (
				'SINGLE FAMILY'
				, 'RESIDENTIAL CONDO'
				, 'DUPLEX'
				, 'TRIPLEX'
				, 'QUADPLEX'
				, 'MOBILE HOME'
				)
			)
	
	GROUP BY 1
)

SELECT p.*

FROM permit AS p

JOIN first_assessment AS fa
	ON p.apn = fa.apn
	AND p.dateissued >= fa.date -- only get permits from on or after the first assessment date or 1993-01-01
;
'''

In [10]:
permits = pd.read_sql(permits_query, con = engine)

In [11]:
permits.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 694648 entries, 0 to 694647
Data columns (total 11 columns):
 #   Column         Non-Null Count   Dtype
---  ------         --------------   -----
 0   permitnumber   694648 non-null  object
 1   permittype     694648 non-null  object
 2   permitsubtype  574731 non-null  object
 3   dateissued     694648 non-null  object
 4   location       694647 non-null  object
 5   purpose        594291 non-null  object
 6   contractor     692300 non-null  object
 7   value          370519 non-null  object
 8   status         694648 non-null  object
 9   pid            694648 non-null  object
 10  apn            694648 non-null  object
dtypes: object(11)
memory usage: 58.3+ MB

In [12]:
permits.head()

,permitnumber,permittype,permitsubtype,dateissued,location,purpose,contractor,value,status,pid,apn
0,200509325,CODES PLUMBING PERMIT,PLUMBING PERMIT,2005-11-10,927 BATTERY LN 37220,None,Pc06227: Fred's Plumbing Repair,None,DONE,1299272,13209012400
1,200508249,GAS / MECH PERMIT - VC MC,GAS / MECH PERMIT,2005-11-07,927 BATTERY LN 37220,None,Vc00317: Hearth & Grill Shop,None,EXPIRED,1074966,13209012400
2,200508070,GAS / MECH PERMIT - VC MC,GAS / MECH PERMIT,2005-11-02,927 BATTERY LN 37220,None,Vc00233: Bradley Heating & Air,None,EXPIRED,1070903,13209012400
3,200511471,ELECTRICAL PERMIT,FULL ELECTRICAL PERMIT,2005-07-28,927 BATTERY LN 37220,None,Dc00481: Jones Electric,None,DONE,916358,13209012400
4,200511472,ELECTRICAL PERMIT,FULL ELECTRICAL PERMIT,2005-07-28,927 BATTERY LN 37220,None,Dc00481: Jones Electric,None,DONE,916359,13209012400

*The following query just returns a list of APNs and every assessment / permit pulled with date over the lifetime of a property (since 1993 or first residential assessment).*

In [13]:
p_and_a_per_apn_query = '''
-- query to get a lifetime history for each house since 1993
-- not particularly efficient...
WITH historicals AS (-- get historical assessment data for each property when it was residential 
	SELECT a.apn
		, a.effectivedate AS date
		, 'assessment' AS permit_num

	FROM assessment AS a
	LEFT JOIN property AS p
		ON p.apn = a.apn
	LEFT JOIN property_updated AS pu
		ON pu.apn = a.apn
	
	WHERE a.classdesc = 'RESIDENTIAL' -- only get assessment data for properties when they were classified as residential
		AND a.effectivedate >= DATE('1993-01-01') -- only get data starting in 1993, when assessments regularized to every 4 years
		AND (-- only get apns that were counted as some form of residential property in 2017 or 2020;
			-- there are no apns that had more than one ludesc in either table, but a handful do change between tables
			p.ludesc IN (
				'SINGLE FAMILY'
				, 'RESIDENTIAL CONDO'
				, 'DUPLEX'
				, 'TRIPLEX'
				, 'QUADPLEX'
				, 'MOBILE HOME'
				)
			OR pu.ludesc IN (
				'SINGLE FAMILY'
				, 'RESIDENTIAL CONDO'
				, 'DUPLEX'
				, 'TRIPLEX'
				, 'QUADPLEX'
				, 'MOBILE HOME'
				)
			)
),

recents AS (-- get address and property type info for 2021 and any non-overlapping 2017 apns
	SELECT pu.apn
		, pu.assessdate AS date
		, 'assessment' AS permit_num
	
	FROM property_updated AS pu
	
	WHERE pu.ludesc IN (
		'SINGLE FAMILY'
		, 'RESIDENTIAL CONDO'
		, 'DUPLEX'
		, 'TRIPLEX'
		, 'QUADPLEX'
		, 'MOBILE HOME'
		)
	
	UNION -- drop duplicate rows, just in case they sneak in
	
	SELECT p.apn
		, p.assessdate AS date
		, 'assessment' AS permit_num
	
	FROM property AS p
	
	WHERE p.ludesc IN (
		'SINGLE FAMILY'
		, 'RESIDENTIAL CONDO'
		, 'DUPLEX'
		, 'TRIPLEX'
		, 'QUADPLEX'
		, 'MOBILE HOME'
		)
),

assessments AS (
	SELECT *
	FROM recents

	UNION -- drop duplicates, in case there are any

	SELECT *
	FROM historicals
),

permits AS (
	WITH first_assessment AS (-- get historical assessment data for each property when it was residential 
		SELECT a.apn
			, MIN(a.effectivedate) AS date

		FROM assessment AS a
		LEFT JOIN property AS p
			ON p.apn = a.apn
		LEFT JOIN property_updated AS pu
			ON pu.apn = a.apn

		WHERE a.classdesc = 'RESIDENTIAL' -- only get assessment data for properties when they were classified as residential
			AND a.effectivedate >= DATE('1993-01-01') -- only get data starting in 1993, when assessments regularized to every 4 years
			AND (-- only get apns that were counted as some form of residential property in 2017 or 2020;
				-- there are no apns that had more than one ludesc in either table, but a handful do change between tables
				p.ludesc IN (
					'SINGLE FAMILY'
					, 'RESIDENTIAL CONDO'
					, 'DUPLEX'
					, 'TRIPLEX'
					, 'QUADPLEX'
					, 'MOBILE HOME'
					)
				OR pu.ludesc IN (
					'SINGLE FAMILY'
					, 'RESIDENTIAL CONDO'
					, 'DUPLEX'
					, 'TRIPLEX'
					, 'QUADPLEX'
					, 'MOBILE HOME'
					)
				)

		GROUP BY 1
	)

	SELECT p.apn
		, p.dateissued AS date
		, p.permitnumber AS permit_num

	FROM permit AS p

	JOIN first_assessment AS fa
		ON p.apn = fa.apn
		AND p.dateissued >= fa.date -- only get permits from on or after the first assessment date or 1993-01-01
)

SELECT *
FROM assessments

UNION ALL -- ever so slightly faster than UNION and no need to dedupe

SELECT *
FROM permits

ORDER BY 1,2 DESC
;
'''

In [14]:
p_and_a_per_apn = pd.read_sql(p_and_a_per_apn_query, con = engine)

In [15]:
p_and_a_per_apn.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2232230 entries, 0 to 2232229
Data columns (total 3 columns):
 #   Column      Dtype
---  ------      -----
 0   apn         object
 1   date        object
 2   permit_num  object
dtypes: object(3)
memory usage: 51.1+ MB

In [16]:
p_and_a_per_apn.head()

           apn        date  permit_num
0  00200000100  2021-01-01  assessment
1  00200000100  2017-01-01  assessment
2  00200000300  2021-01-01  assessment
3  00200000300  2017-01-01  assessment
4  00200000300  2013-01-01  assessment

*Weirdly enough, there appear to be about 50K assessments that go missing when we only pull APN and date; should investigate why and what might be causing duplication in the `assessments` query above.*

In [17]:
p_and_a_per_apn[p_and_a_per_apn['permit_num'] == 'assessment'].count()

apn           1537582
date          1537581
permit_num    1537582
dtype: int64

In [18]:
p_and_a_per_apn['permit_num'].value_counts()

assessment    1537582
200600031           5
199707545           5
199706157           5
200102265           5
               ...
201236200           1
200204171           1
2021003297          1
2016053548          1
2019019484          1
Name: permit_num, Length: 528066, dtype: int64

## Begin Parker Exploring
### When ready, export dataframes as CSVs, and move below into mp_02 feature engineering.

In [72]:
assessment_means.head(5)

,apn,date,prop_type,prop_addr,prop_city,prop_zip,prop_value
0,00200000100,2017-01-01,SINGLE FAMILY,1005 HIGHLAND AVE,GOODLETTSVILLE,37072,0.0
1,00200000100,2021-01-01,SINGLE FAMILY,1005 HIGHLAND AVE,GOODLETTSVILLE,37072,0.0
2,00200000300,1993-01-01,SINGLE FAMILY,1012 OLD BUCK HILL RD,GOODLETTSVILLE,37072,64550.0
3,00200000300,1997-01-01,SINGLE FAMILY,1012 OLD BUCK HILL RD,GOODLETTSVILLE,37072,92400.0
4,00200000300,2001-01-01,SINGLE FAMILY,1012 OLD BUCK HILL RD,GOODLETTSVILLE,37072,102400.0

In [64]:
permits.head(5)

,permitnumber,permittype,permitsubtype,dateissued,location,purpose,contractor,value,status,pid,apn
0,200509325,CODES PLUMBING PERMIT,PLUMBING PERMIT,2005-11-10,927 BATTERY LN 37220,None,Pc06227: Fred's Plumbing Repair,None,DONE,1299272,13209012400
1,200508249,GAS / MECH PERMIT - VC MC,GAS / MECH PERMIT,2005-11-07,927 BATTERY LN 37220,None,Vc00317: Hearth & Grill Shop,None,EXPIRED,1074966,13209012400
2,200508070,GAS / MECH PERMIT - VC MC,GAS / MECH PERMIT,2005-11-02,927 BATTERY LN 37220,None,Vc00233: Bradley Heating & Air,None,EXPIRED,1070903,13209012400
3,200511471,ELECTRICAL PERMIT,FULL ELECTRICAL PERMIT,2005-07-28,927 BATTERY LN 37220,None,Dc00481: Jones Electric,None,DONE,916358,13209012400
4,200511472,ELECTRICAL PERMIT,FULL ELECTRICAL PERMIT,2005-07-28,927 BATTERY LN 37220,None,Dc00481: Jones Electric,None,DONE,916359,13209012400

## Verification

In [108]:
#Count number of unique apns on assessments
print(assessments['apn'].nunique())

210448

In [109]:
#Count number of unique APNs with permits
permits['apn'].nunique()

148687

In [110]:
#Find houses with a permit, but no assessment
assessments_apn_list = assessments['apn'].to_list()

In [111]:
len(permits[~permits['apn'].isin(assessments_apn_list)]['apn'])

0

In [112]:
#Find houses with multiple assessments on the same date
assessment_count = assessments.groupby(['apn', 'date'])['prop_value'].count()

In [113]:
assessment_count = assessment_count.reset_index().sort_values(by = 'prop_value', ascending=False)

In [114]:
assessment_count[assessment_count['prop_value'] > 1]

                    apn        date  prop_value
18116       01800015800  2019-01-01           2
39564       02900004900  2019-01-01           2
11714       01400022400  2020-02-01           2
783665   105120B01700CO  2018-06-01           2
783668   105120B01800CO  2018-06-01           2
822709      11400008000  2018-01-01           2
1170812     14512002100  2018-01-01           2
1396134     16300007100  2020-01-01           2
1487409     17400010000  2020-01-01           2
43317       03200001302  2018-01-01           2
28396       02400037300  2018-01-01           2
9473        01200014600  2019-01-01           2
195890      05600012700  2019-02-01           2
93493       04300001200  2018-01-01           2
859340      11614013500  2020-01-01           2
513944   084050B06100CO  2018-01-01           2
1025855     13108001800  2020-01-01           2
1070402     13413004700  2018-01-01           2
93482       04300000900  2018-01-01           2
810532      10812000100  2019-01-01           2
1118358     14200002901  2019-01-01           2
430679      08107041100  2020-06-01           2
238462      06100008500  2020-01-01           2
1410116  164050A05800CO  2020-01-01           2
197249      05800019900  2020-01-01           2
603493      09213025400  2020-01-01           2
927725      11909013000  2018-01-01           2
238471      06100010000  2019-01-01           2
702350      10304000400  2018-01-01           2
785110      10513016900  2019-01-01           2
1062964     13315008300  2019-01-01           2
197328      05800024600  2018-01-01           2
453034      08203051300  2018-01-01           2
297878      06700000200  2018-01-01           2
577848      09110012100  2018-01-01           2
847528      11606002600  2020-01-01           2
1329126     16003008700  2019-01-01           2
853462      11610009800  2019-01-01           2
1211369     14802002100  2020-01-01           2
610102   093023G00400CO  2018-01-01           2
353212   072100X00300CO  2019-01-01           2
746733      10410012700  2020-01-01           2
197332      05800024700  2020-01-01           2
379537      07313008500  2018-01-01           2
511151      08400002500  2018-01-01           2
1504880     18000024000  2018-01-01           2
193593      05413008200  2018-01-01           2
1504051     17800005900  2019-01-01           2
1368196     16200014300  2018-08-01           2
917946      11902013400  2018-01-01           2
1319964     15800012000  2018-01-01           2
1504060     17800006100  2018-01-01           2
9521        01200015600  2020-01-01           2
747393      10410022400  2018-01-01           2
1047608     13303000500  2019-01-01           2
93534       04300001800  2019-01-01           2
1162648  144080B01400CO  2019-01-01           2
754100   104120B10700CO  2019-01-01           2
123053      04500001900  2019-01-01           2
1422142  164160A01900CO  2020-01-01           2
481032      08304008600  2019-01-01           2
414448      07700008400  2020-01-01           2
978847      12903002600  2018-01-01           2
1004351     13016000300  2020-01-01           2
462913      08209027200  2019-01-01           2
1169935     14510002500  2018-01-01           2
865344      11702017900  2020-01-01           2
1296939     15500000700  2020-01-01           2
414957      08000002200  2020-01-01           2
552812      08800004700  2018-01-01           2
1312524     15600005900  2018-01-01           2
1441649     17200015200  2019-01-01           2
351212   072093B00200CO  2020-01-01           2
457983      08207026900  2019-01-01           2
572248      09107017700  2020-01-01           2
1174528     14606001100  2018-01-01           2
1341902  160160A00800CO  2018-01-01           2
533333   086040A00100CO  2020-01-01           2
12422       01500012600  2020-01-01           2
925318      11906026800  2018-01-01           2
935568      11914018200  2020-01-01           2
1468764     17216000100  2020-01-01           2
441433      08112036900  2020-03-01           2
1032786     13201004000  2018-01-01           2
1322612     15807004100  2018-01-01           2
1355630     16109015700  2020-01-01           2
130423      05000015600  2020-01-01           2
1468753  172150C01500CO  2018-01-01           2
1070501     13413006000  2020-01-01           2
124573      04800005901  2020-01-01           2
1008833  131011A00200CO  2018-01-01           2
196696      05800005200  2020-09-01           2
42469       03000019400  2018-01-01           2
1002683     13013004400  2018-01-01           2
590635      09202018900  2020-01-01           2
907262      11806005800  2018-01-01           2
580931      09111025300  2018-01-01           2
768507      10501014000  2018-01-01           2
270713      06300029800  2018-08-01           2
114587      04401000700  2019-01-01           2
126647      04900012900  2019-01-01           2
832384      11505002500  2018-01-01           2
114570      04401000600  2019-01-01           2
686630      10100018100  2018-01-01           2
930640      11911011700  2018-08-01           2
965428      12800000400  2019-01-01           2
314308      07103016700  2018-01-01           2
936653      11914033600  2019-01-01           2
1072455     13500014700  2019-01-01           2
484071      08305029000  2018-01-01           2
1004829     13016005600  2018-01-01           2
142859      05100002800  2020-01-01           2
546797      08700012700  2018-01-01           2
771752   105030O00300CO  2020-01-01           2
1396253     16300014900  2020-01-01           2
953201      12400008000  2018-01-01           2
422408   081010A00200CO  2018-01-01           2
893980      11714001000  2019-01-01           2
70984       04100005800  2020-01-01           2
523621      08500002700  2018-01-01           2
1170485     14511001800  2018-01-01           2
685591      10000004900  2018-01-01           2
1011402  131024O00200CO  2018-01-01           2
1011400  131024O00100CO  2018-01-01           2
380658      07313023200  2019-01-01           2
8269        01100014300  2018-01-01           2
17351       01700035800  2019-01-01           2
338781      07204003300  2020-01-01           2
17360       01700035900  2019-01-01           2
780233      10510036100  2019-01-01           2
422764      08102013000  2020-01-01           2
382257      07400003400  2019-01-01           2
922726      11905032500  2018-01-01           2
1176311     14608006600  2020-01-01           2
1101009     13700006700  2018-01-01           2
508606      08314030000  2019-01-01           2
106178      04311004600  2018-01-01           2
662964      09613011200  2019-01-01           2
1523264     18200012500  2018-01-01           2
80475       04203006100  2018-01-01           2
17407       01700037500  2019-01-01           2
1179494     14612002800  2019-01-01           2
769         00400006000  2018-01-01           2
1523282     18200012700  2018-01-01           2
736408      10405035800  2018-01-01           2
1317461     15609004600  2019-01-01           2
25232       02200004700  2019-01-01           2
206783      05900018900  2020-01-01           2
637688      09504009100  2019-01-01           2
463516   082090J50000CO  2018-01-01           2
816199   109010A05300CO  2019-01-01           2
940862      12001010500  2020-01-01           2
1196040     14706018400  2019-01-01           2
1430155     16900004900  2020-01-01           2
1173423     14604006200  2020-01-01           2
26490       02300002800  2020-01-01           2
274033      06308008000  2018-01-01           2
42949       03100006800  2020-01-01           2
74457       04106003500  2019-01-01           2
994874      13006002600  2018-01-01           2
395806      07508007600  2018-01-01           2
623849      09316020000  2020-01-01           2
206748      05900018500  2020-01-01           2
1027844     13110004000  2017-05-01           2
457444      08207016700  2018-01-01           2
1332272     16007005100  2018-01-01           2
912136      11813006900  2018-01-01           2
361298   072130S00100CO  2017-04-01           2
361300   072130S00200CO  2017-03-01           2
1332334     16008000600  2019-01-01           2
361303   072130S00300CO  2018-01-01           2
1322118  158050A00200CO  2018-01-01           2
1536624  188100A01900CO  2018-01-01           2
1188318     14702019100  2018-01-01           2
637677      09504009000  2019-01-01           2
1335495  160110C00200CO  2018-01-01           2
71140       04100007700  2019-01-01           2
1440640  171080C02800CO  2020-01-01           2
22155       01816015400  2020-04-01           2
1395489  162160E01500CO  2018-01-01           2
769515      10501062500  2018-01-01           2
253068      06112004700  2020-01-01           2
905860      11805008600  2018-01-01           2
632771      09415001200  2020-07-01           2
1523377     18200015300  2019-01-01           2
1322321     15807000200  2020-01-01           2
365375      07215027800  2019-01-01           2
336990      07203016800  2018-01-01           2
1429867     16800027400  2017-06-01           2
262273      06200026300  2019-01-01           2
697353      10301010000  2020-01-01           2
1429855     16800024500  2019-01-01           2
744115      10409023400  2018-01-01           2
847705      11607000700  2019-01-01           2
768274      10501006500  2018-01-01           2
42671       03000025000  2020-01-01           2
1503978     17800004100  2019-01-01           2
1327800     16000029200  2018-01-01           2
349008      07209011800  2018-01-01           2
492164      08308010200  2019-01-01           2
488690      08306044100  2018-01-01           2
479452      08303020900  2018-01-01           2
1334324     16011006800  2018-01-01           2
239865      06102012300  2019-07-01           2
110339      04314003600  2018-01-01           2
26814       02300011200  2019-01-01           2
1335682     16012010600  2018-01-01           2
1164674     14415006300  2020-01-01           2
1469086     17300006800  2020-01-01           2
918503      11902020300  2019-01-01           2
41113       02900031200  2018-01-01           2
1469149     17300009100  2020-01-01           2
763734      10415031800  2018-01-01           2
167161      05209013100  2020-01-01           2
13210       01500030800  2018-01-01           2
949649   122010A31700CO  2020-01-01           2
774365   105060Q00100CO  2020-01-01           2
159879      05204004000  2020-03-01           2
1452801  172080B10300CO  2019-01-01           2
819557      11000016800  2020-01-01           2
922972      11905037900  2018-01-01           2
433333      08108039200  2018-01-01           2
17479       01800002400  2020-01-01           2
1042900     13300007200  2019-01-01           2
298008      06700003000  2020-01-01           2
301520      06904007800  2019-01-01           2
261838      06200004800  2020-01-01           2
802527      10800004500  2020-01-01           2
7198        00900025000  2018-01-01           2
253528      06112011700  2020-04-01           2
856557   116120S00200CO  2018-01-01           2
302934      06908000300  2019-01-01           2
856554   116120S00100CO  2018-01-01           2
17515       01800003500  2018-01-01           2
851870   116081B00200CO  2020-06-01           2
1073377     13501005700  2019-01-01           2
783671   105120B01900CO  2018-06-01           2
587048      09115031200  2018-01-01           2
114445      04400000600  2019-01-01           2
355930      07211045500  2018-01-01           2
904162      11804004201  2020-02-01           2
1441489     17200007600  2019-01-01           2
1341957  160160A01400CO  2018-01-01           2
498513      08310025800  2019-01-01           2
530385      08600007900  2020-03-01           2
28761       02500009400  2020-01-01           2
254024      06112018000  2020-01-01           2
1324149     15900012800  2020-02-01           2
883098      11708010400  2020-01-01           2
785357      10513023600  2018-01-01           2
506332   083134C00100CO  2020-01-01           2
941478      12002006400  2020-01-01           2
1508987     18100008700  2019-01-01           2
1523664     18200020500  2018-01-01           2
1118745     14200035700  2019-01-01           2
240518      06103003900  2018-01-01           2
1162306     14406003500  2019-01-01           2
585874      09115011600  2019-01-01           2
434335   081083B00100CO  2019-01-01           2
1319606     15800001900  2020-05-01           2
12047       01500007000  2018-01-01           2
177204      05303023200  2019-01-01           2
204509      05815012100  2020-01-01           2
7640        01100001100  2018-01-01           2
7829        01100006300  2018-01-01           2
964135      12700024200  2019-01-01           2
605277   092140A30600CO  2018-01-01           2
370678      07303002000  2019-01-01           2
895036   117150A01900CO  2019-01-01           2
641030      09506000900  2019-01-01           2
12040       01500006900  2018-01-01           2
928188      11910005600  2018-01-01           2
12032       01500006800  2018-01-01           2
33281       02601011000  2019-01-01           2
504751      08313037900  2020-03-01           2
805041      10804020600  2019-01-01           2
298719      06800006200  2019-01-01           2
196817      05800008900  2018-01-01           2
941470      12002005900  2020-01-01           2
498690      08310028200  2018-01-01           2
1169672     14509006600  2018-01-01           2
663474      09614002000  2018-01-01           2
114391      04400000200  2020-01-01           2
488401      08306038400  2018-01-01           2
1537571  188100G00100CO  2020-01-01           2
1162317     14406003700  2020-01-01           2
451913      08203034400  2018-01-01           2
581081      09111033400  2017-09-01           2
1354308     16107011100  2019-01-01           2
372228      07305011500  2019-01-01           2
79826       04201005400  2020-01-01           2
459892      08208010600  2019-01-01           2
1216260     14806016300  2018-01-01           2
1537575  188100G00200CO  2020-03-01           2
992602      13004001800  2020-01-01           2
755316      10413009900  2019-01-01           2
115848      04405022900  2018-01-01           2
953595      12400013800  2020-01-01           2
6156        00900001100  2019-01-01           2
1172785     14603000600  2020-09-30           2
918962      11902027700  2020-01-01           2
1537579  188100G00300CO  2020-03-01           2
1430862     17100011000  2019-01-01           2
506335   083134C00200CO  2020-01-01           2
67686       03700005200  2018-01-01           2
1171075     14513001500  2020-01-01           2
28708       02500008300  2020-01-01           2
18130       01800016600  2019-09-01           2
1381497     16206017300  2020-01-01           2
731106   104021M00200CO  2018-01-01           2
15162       01600024600  2019-01-01           2
602279      09213004700  2019-01-01           2
163671      05207009700  2018-01-01           2

In [115]:
assessment_count[assessment_count['prop_value'] > 1]['apn'].nunique()

313

In [116]:
assessment_count[assessment_count['prop_value'] > 1]['prop_value'].sum()

626

#### The below house had 4 assessments in 2009, but only ever had permits pulled in 1995 - the year the house was built. Single family - doesn't appear to be multiple homes.

In [83]:
assessment_means[assessment_means['apn']=='159100A01300CO']

,apn,date,prop_type,prop_addr,prop_city,prop_zip,prop_value
1326843,159100A01300CO,1995-01-01,SINGLE FAMILY,5608 OTTERSHAW CT,BRENTWOOD,37027,186100.0
1326844,159100A01300CO,1995-09-01,SINGLE FAMILY,5608 OTTERSHAW CT,BRENTWOOD,37027,738700.0
1326845,159100A01300CO,1997-01-01,SINGLE FAMILY,5608 OTTERSHAW CT,BRENTWOOD,37027,614000.0
1326846,159100A01300CO,2001-01-01,SINGLE FAMILY,5608 OTTERSHAW CT,BRENTWOOD,37027,792200.0
1326847,159100A01300CO,2005-01-01,SINGLE FAMILY,5608 OTTERSHAW CT,BRENTWOOD,37027,858700.0
1326848,159100A01300CO,2009-01-01,SINGLE FAMILY,5608 OTTERSHAW CT,BRENTWOOD,37027,982825.0
1326849,159100A01300CO,2010-01-01,SINGLE FAMILY,5608 OTTERSHAW CT,BRENTWOOD,37027,907400.0
1326850,159100A01300CO,2013-01-01,SINGLE FAMILY,5608 OTTERSHAW CT,BRENTWOOD,37027,949600.0
1326851,159100A01300CO,2014-01-01,SINGLE FAMILY,5608 OTTERSHAW CT,BRENTWOOD,37027,850000.0
1326852,159100A01300CO,2017-01-01,SINGLE FAMILY,5608 OTTERSHAW CT,BRENTWOOD,37027,1149100.0
1326853,159100A01300CO,2021-01-01,SINGLE FAMILY,5608 OTTERSHAW CT,BRENTWOOD,37027,1417700.0

In [57]:
permits[(permits['apn']=='159100A01300CO')]

,permitnumber,permittype,permitsubtype,dateissued,location,purpose,contractor,value,status,pid,apn
269597,199504626,CODES PLUMBING PERMIT,None,1995-08-24,159100A01300CO TO CONSTRUCT A NEW SINGLE FAMILY RES. OF 5100 WITH AN ATTACHED GARAGE OF 900. FOOTPRI,"ACTIVITY-TYPE: A02 PURPOSE: TO CONSTRUCT A NEW SINGLE FAMILY RES. OF 5100 WITH AN ATTACHED GARAGE OF 900. FOOTPRINT 5113. FRONT STBK-30', REAR-40', SIDES-10' SEE PLAN SEE PLAN. TYPE AND MAIL U & O AFTER LOW VOLTAGE FINAL","Pc02471: Steakley, Jack Plumbing",None,DONE,1209566,159100A01300CO
269598,199502348,ELECTRICAL PERMIT,None,1995-02-27,159100A01300CO TO CONSTRUCT A NEW SINGLE FAMILY RES. OF 5100 WITH AN ATTACHED GARAGE OF 900. FOOTPRI,"ACTIVITY-TYPE: A02 PURPOSE: TO CONSTRUCT A NEW SINGLE FAMILY RES. OF 5100 WITH AN ATTACHED GARAGE OF 900. FOOTPRINT 5113. FRONT STBK-30', REAR-40', SIDES-10' SEE PLAN SEE PLAN. TYPE AND MAIL U & O AFTER LOW VOLTAGE FINAL",Ec08242: Mid South Electrical & Mechanic,None,DONE,734501,159100A01300CO
269599,199500898,CODES PLUMBING PERMIT,None,1995-02-23,159100A01300CO TO CONSTRUCT A NEW SINGLE FAMILY RES. OF 5100 WITH AN ATTACHED GARAGE OF 900. FOOTPRI,"ACTIVITY-TYPE: A02 PURPOSE: TO CONSTRUCT A NEW SINGLE FAMILY RES. OF 5100 WITH AN ATTACHED GARAGE OF 900. FOOTPRINT 5113. FRONT STBK-30', REAR-40', SIDES-10' SEE PLAN SEE PLAN. TYPE AND MAIL U & O AFTER LOW VOLTAGE FINAL","Pc02471: Steakley, Jack Plumbing",None,DONE,1207539,159100A01300CO

#### Same here - lots of assessments in 2001, no permits pulled. Single family - doesn't appear to be multiple homes. Rebuilt in 2012.

In [50]:
assessments[assessments['apn']=='11704019300']

,apn,date,prop_value,prop_type,prop_addr,prop_city,prop_zip
900820,11704019300,2021-01-01,1156900.0,SINGLE FAMILY,1508 PARIS AVE,NASHVILLE,37212
900821,11704019300,2017-01-01,894000.0,SINGLE FAMILY,1508 PARIS AVE,NASHVILLE,37212
900822,11704019300,2013-09-01,653100.0,SINGLE FAMILY,1508 PARIS AVE,NASHVILLE,37212
900823,11704019300,2013-01-01,180000.0,SINGLE FAMILY,1508 PARIS AVE,NASHVILLE,37212
900824,11704019300,2010-01-01,205400.0,SINGLE FAMILY,1508 PARIS AVE,NASHVILLE,37212
900825,11704019300,2009-01-01,233200.0,SINGLE FAMILY,1508 PARIS AVE,NASHVILLE,37212
900826,11704019300,2009-01-01,205400.0,SINGLE FAMILY,1508 PARIS AVE,NASHVILLE,37212
900827,11704019300,2005-01-01,150000.0,SINGLE FAMILY,1508 PARIS AVE,NASHVILLE,37212
900828,11704019300,2005-01-01,213800.0,SINGLE FAMILY,1508 PARIS AVE,NASHVILLE,37212
900829,11704019300,2002-01-01,105000.0,SINGLE FAMILY,1508 PARIS AVE,NASHVILLE,37212
900830,11704019300,2001-01-01,151400.0,SINGLE FAMILY,1508 PARIS AVE,NASHVILLE,37212
900831,11704019300,2001-01-01,105000.0,SINGLE FAMILY,1508 PARIS AVE,NASHVILLE,37212
900832,11704019300,2001-01-01,132900.0,SINGLE FAMILY,1508 PARIS AVE,NASHVILLE,37212
900833,11704019300,2001-01-01,112000.0,SINGLE FAMILY,1508 PARIS AVE,NASHVILLE,37212
900834,11704019300,1997-01-01,132900.0,SINGLE FAMILY,1508 PARIS AVE,NASHVILLE,37212
900835,11704019300,1997-01-01,87300.0,SINGLE FAMILY,1508 PARIS AVE,NASHVILLE,37212
900836,11704019300,1996-01-01,76200.0,SINGLE FAMILY,1508 PARIS AVE,NASHVILLE,37212
900837,11704019300,1996-01-01,65000.0,SINGLE FAMILY,1508 PARIS AVE,NASHVILLE,37212
900838,11704019300,1994-06-01,22500.0,SINGLE FAMILY,1508 PARIS AVE,NASHVILLE,37212
900839,11704019300,1994-01-01,23500.0,SINGLE FAMILY,1508 PARIS AVE,NASHVILLE,37212
900840,11704019300,1993-01-01,76600.0,SINGLE FAMILY,1508 PARIS AVE,NASHVILLE,37212

In [59]:
permits[permits['apn']=='11704019300']

,permitnumber,permittype,permitsubtype,dateissued,location,purpose,contractor,value,status,pid,apn
616422,201320929,GAS / MECH PERMIT - VC MC,GAS / MECH PERMIT,2013-07-09,1508B PARIS AVE 37212,"FOR EVERY 30 FEET OF STREET FRONTAGE, OR FRACTION THEREOF, ONE 2 INCH CALIPER TREE AS LISTED IN THE URBAN FORESTRY APPROVED TREE LIST SHALL BE PLANTED ON THE SUBJECT PROPERTY. TO CONSTRUCT A 22 X 25 DETACHED GARAGE WITH 550 SF ACCESSORY DWELLING, DETACHED ON SECOND FLOOR TO COMPLY WITH METRO COUNCIL BILL 2011-900 AND MHZC PRESERVATION PERMIT 201300010. R8 BASE ZONING. KIVA SHOWS 8276.4 SF LOT AREA. INSTRUMENT RECORDED IN BOOK 20130115-0004783. …………PURSUANT TO ORDINANCE NO. 2006-1263 OF THE METROPOLITAN CODE OF LAWS, I (THE HOLDER ON THIS PERMIT) HEREBY CERTIFY THAT ALL CONSTRUCTION AND DEMOLITION WASTE GENERATED BY ANY AND ALL ACTIVITIES GOVERNED BY THIS PERMIT SHALL BE DISPOSED OF IN AN APPROVED LANDFILL. FURTHER, I CERTIFY THAT NO CONSTRUCTION AND DEMOLITION WASTE SHALL BE STORED ON THE PROPERTY IN VIOLATION OF ANY PROVISION OF THE METROPOLITAN CODE….\r\n\r\n",Reliance Heating & Air Co,3000.0,DONE,1929850,11704019300
616423,201320887,ELECTRICAL PERMIT,ELECT SERVICE RELEASE,2013-07-08,1508B PARIS AVE 37212,"FOR EVERY 30 FEET OF STREET FRONTAGE, OR FRACTION THEREOF, ONE 2 INCH CALIPER TREE AS LISTED IN THE URBAN FORESTRY APPROVED TREE LIST SHALL BE PLANTED ON THE SUBJECT PROPERTY. TO CONSTRUCT A 22 X 25 DETACHED GARAGE WITH 550 SF ACCESSORY DWELLING, DETACHED ON SECOND FLOOR TO COMPLY WITH METRO COUNCIL BILL 2011-900 AND MHZC PRESERVATION PERMIT 201300010. R8 BASE ZONING. KIVA SHOWS 8276.4 SF LOT AREA. INSTRUMENT RECORDED IN BOOK 20130115-0004783. …………PURSUANT TO ORDINANCE NO. 2006-1263 OF THE METROPOLITAN CODE OF LAWS, I (THE HOLDER ON THIS PERMIT) HEREBY CERTIFY THAT ALL CONSTRUCTION AND DEMOLITION WASTE GENERATED BY ANY AND ALL ACTIVITIES GOVERNED BY THIS PERMIT SHALL BE DISPOSED OF IN AN APPROVED LANDFILL. FURTHER, I CERTIFY THAT NO CONSTRUCTION AND DEMOLITION WASTE SHALL BE STORED ON THE PROPERTY IN VIOLATION OF ANY PROVISION OF THE METROPOLITAN CODE….\n\n",Modern Mechanical Contractors,0.0,DONE,1929808,11704019300
616424,201320882,ELECTRICAL PERMIT,FULL ELECTRICAL PERMIT,2013-07-08,1508B PARIS AVE 37212,"7/8/13-RECORDED RESTRICTIVE COVENANT FOR ACCESSORY DWELLING, DETACHED 20130115-0004783. \nACCESSORY DWELLING - APPROVED BY MIKE KYLE\n\n FOR EVERY 30 FEET OF STREET FRONTAGE, OR FRACTION THEREOF, ONE 2 INCH CALIPER TREE AS LISTED IN THE URBAN FORESTRY APPROVED TREE LIST SHALL BE PLANTED ON THE SUBJECT PROPERTY. TO CONSTRUCT A 22 X 25 DETACHED GARAGE WITH 550 SF ACCESSORY DWELLING, DETACHED ON SECOND FLOOR TO COMPLY WITH METRO COUNCIL BILL 2011-900 AND MHZC PRESERVATION PERMIT 201300010. R8 BASE ZONING. KIVA SHOWS 8276.4 SF LOT AREA. INSTRUMENT RECORDED IN BOOK 20130115-0004783. …………PURSUANT TO ORDINANCE NO. 2006-1263 OF THE METROPOLITAN CODE OF LAWS, I (THE HOLDER ON THIS PERMIT) HEREBY CERTIFY THAT ALL CONSTRUCTION AND DEMOLITION WASTE GENERATED BY ANY AND ALL ACTIVITIES GOVERNED BY THIS PERMIT SHALL BE DISPOSED OF IN AN APPROVED LANDFILL. FURTHER, I CERTIFY THAT NO CONSTRUCTION AND DEMOLITION WASTE SHALL BE STORED ON THE PROPERTY IN VIOLATION OF ANY PROVISION OF THE METROPOLITAN CODE….\n\n",Modern Mechanical Contractors,0.0,DONE,1929802,11704019300
616425,200915492,BUILDING RESIDENTIAL - ROOFING / SIDING,SINGLE FAMILY RESIDENCE,2009-07-01,1508 PARIS AVE 37212,"TO TEAR OFF AND REROOF RESIDENCE. SUBJECT TO INSPECTORS APPROVAL. PURSUANT TO ORDINANCE NO. 2006-1263 OF THE METROPOLITAN CODE OF LAWS, I (THE HOLDER ON THIS PERMIT) HEREBY CERTIFY THAT ALL CONSTRUCTION AND DEMOLITION WASTE GENERATED BY ANY AND ALL ACTIVITIES GOVERNED BY THIS PERMIT SHALL BE DISPOSED OF IN AN APPROVED LANDFILL. FURTHER, I CERTIFY THAT NO CONSTRUCTION AND DEMOLITION WASTE SHALL BE STORED ON THE PROPERTY IN VIOLATION OF ANY PROVISION OF THE METROPOLITAN CODE….\n\n \n",R & W Home Repair,7800.0,EXPIRED,1700764,11704019300
616426,201315639,CODES PLUMBING PERMIT,PLUMBING PERMIT,2013-05-23,1508B PARIS AVE 37212,"FOR EVERY 30 FEET OF STREET FRONTAGE, OR FRACTION THEREOF, ONE 2 INCH CALIPER TREE AS LISTED IN THE URBAN FORESTRY APPROVED TREE LIST SHALL BE PLANTED ON THE SUBJECT PROPERTY. TO CONSTRUCT A 22 X 25 DETACHED GARAGE WITH 550 SF ACCESSORY DWELLING, DETACHED ON SECOND FLOOR TO COMPLY WITH METRO COUNCIL BILL 2011-900 AND MHZC PRESERVATION PERMIT 201300010. R8 BASE ZONING. KIVA SHOWS 8276.4 SF LOT AREA. INSTRUMENT RECORDED IN BOOK 20130115-0004783. …………PURSUANT TO ORDINANCE NO. 2006-1263 OF THE METROPOLITAN CODE OF LAWS, I (THE HOLDER ON THIS PERMIT) HEREBY CERTIFY THAT ALL CONSTRUCTION AND DEMOLITION WASTE GENERATED BY ANY AND ALL ACTIVITIES GOVERNED BY THIS PERMIT SHALL BE DISPOSED OF IN AN APPROVED LANDFILL. FURTHER, I CERTIFY THAT NO CONSTRUCTION AND DEMOLITION WASTE SHALL BE STORED ON THE PROPERTY IN VIOLATION OF ANY PROVISION OF THE METROPOLITAN CODE….INSTALL PLUMBING TO A DETACH GARAGE APARTMENT \r\n\r\n",Benchmark Plumbing Inc,5000.0,DONE,1923268,11704019300
616427,201307641,GAS / MECH PERMIT - VC MC,GAS / MECH PERMIT,2013-03-15,1508 PARIS AVE 37212,"FOR EVERY 30 FEET OF STREET FRONTAGE, OR FRACTION THEREOF, ONE 2 INCH CALIPER TREE AS LISTED IN THE URBAN FORESTRY APPROVED TREE LIST SHALL BE PLANTED ON THE SUBJECT PROPERTY. TO CONSTRUCT A 38 X 61 SINGLE FAMILY RESIDENCE WITH 3000 SF LIVING AREA, 150 SF PORCH AREAS. …………PURSUANT TO ORDINANCE NO. 2006-1263 OF THE METROPOLITAN CODE OF LAWS, I (THE HOLDER ON THIS PERMIT) HEREBY CERTIFY THAT ALL CONSTRUCTION AND DEMOLITION WASTE GENERATED BY ANY AND ALL ACTIVITIES GOVERNED BY THIS PERMIT SHALL BE DISPOSED OF IN AN APPROVED LANDFILL. FURTHER, I CERTIFY THAT NO CONSTRUCTION AND DEMOLITION WASTE SHALL BE STORED ON THE PROPERTY IN VIOLATION OF ANY PROVISION OF THE METROPOLITAN CODE….\r\n\r\n",Reliance Heating & Air Co,9500.0,DONE,1913398,11704019300
616428,201307563,CODES PLUMBING PERMIT,PLUMBING PERMIT,2013-03-14,1508 PARIS AVE 37212,"FOR EVERY 30 FEET OF STREET FRONTAGE, OR FRACTION THEREOF, ONE 2 INCH CALIPER TREE AS LISTED IN THE URBAN FORESTRY APPROVED TREE LIST SHALL BE PLANTED ON THE SUBJECT PROPERTY. TO CONSTRUCT A 38 X 61 SINGLE FAMILY RESIDENCE WITH 3000 SF LIVING AREA, 150 SF PORCH AREAS. …………PURSUANT TO ORDINANCE NO. 2006-1263 OF THE METROPOLITAN CODE OF LAWS, I (THE HOLDER ON THIS PERMIT) HEREBY CERTIFY THAT ALL CONSTRUCTION AND DEMOLITION WASTE GENERATED BY ANY AND ALL ACTIVITIES GOVERNED BY THIS PERMIT SHALL BE DISPOSED OF IN AN APPROVED LANDFILL. FURTHER, I CERTIFY THAT NO CONSTRUCTION AND DEMOLITION WASTE SHALL BE STORED ON THE PROPERTY IN VIOLATION OF ANY PROVISION OF THE METROPOLITAN CODE….INSTALL PLUMBING FOR SINGLE FAMILY \r\n\r\n",Benchmark Plumbing Inc,9000.0,DONE,1913306,11704019300
616429,201307462,ELECTRICAL PERMIT,ELECT SERVICE RELEASE,2013-03-14,1508 PARIS AVE 37212,"3/14/13-DGL-SERVICE RELEASE FOR ELECTRICAL PERMIT 201307461 \n FOR EVERY 30 FEET OF STREET FRONTAGE, OR FRACTION THEREOF, ONE 2 INCH CALIPER TREE AS LISTED IN THE URBAN FORESTRY APPROVED TREE LIST SHALL BE PLANTED ON THE SUBJECT PROPERTY. TO CONSTRUCT A 38 X 61 SINGLE FAMILY RESIDENCE WITH 3000 SF LIVING AREA, 150 SF PORCH AREAS. …………PURSUANT TO ORDINANCE NO. 2006-1263 OF THE METROPOLITAN CODE OF LAWS, I (THE HOLDER ON THIS PERMIT) HEREBY CERTIFY THAT ALL CONSTRUCTION AND DEMOLITION WASTE GENERATED BY ANY AND ALL ACTIVITIES GOVERNED BY THIS PERMIT SHALL BE DISPOSED OF IN AN APPROVED LANDFILL. FURTHER, I CERTIFY THAT NO CONSTRUCTION AND DEMOLITION WASTE SHALL BE STORED ON THE PROPERTY IN VIOLATION OF ANY PROVISION OF THE METROPOLITAN CODE….\n\n",Modern Mechanical Contractors,0.0,DONE,1913172,11704019300
616430,201307461,ELECTRICAL PERMIT,FULL ELECTRICAL PERMIT,2013-03-14,1508 PARIS AVE 37212,"FOR EVERY 30 FEET OF STREET FRONTAGE, OR FRACTION THEREOF, ONE 2 INCH CALIPER TREE AS LISTED IN THE URBAN FORESTRY APPROVED TREE LIST SHALL BE PLANTED ON THE SUBJECT PROPERTY. TO CONSTRUCT A 38 X 61 SINGLE FAMILY RESIDENCE WITH 3000 SF LIVING AREA, 150 SF PORCH AREAS. …………PURSUANT TO ORDINANCE NO. 2006-1263 OF THE METROPOLITAN CODE OF LAWS, I (THE HOLDER ON THIS PERMIT) HEREBY CERTIFY THAT ALL CONSTRUCTION AND DEMOLITION WASTE GENERATED BY ANY AND ALL ACTIVITIES GOVERNED BY THIS PERMIT SHALL BE DISPOSED OF IN AN APPROVED LANDFILL. FURTHER, I CERTIFY THAT NO CONSTRUCTION AND DEMOLITION WASTE SHALL BE STORED ON THE PROPERTY IN VIOLATION OF ANY PROVISION OF THE METROPOLITAN CODE….\n\n",Modern Mechanical Contractors,7.0,DONE,1913170,11704019300
616431,201303102,ELECTRICAL PERMIT,TEMPORARY ELEC SERVICE,2013-02-01,1508 PARIS AVE 37212,"FOR EVERY 30 FEET OF STREET FRONTAGE, OR FRACTION THEREOF, ONE 2 INCH CALIPER TREE AS LISTED IN THE URBAN FORESTRY APPROVED TREE LIST SHALL BE PLANTED ON THE SUBJECT PROPERTY. TO CONSTRUCT A 38 X 61 SINGLE FAMILY RESIDENCE WITH 3000 SF LIVING AREA, 150 SF PORCH AREAS. …………PURSUANT TO ORDINANCE NO. 2006-1263 OF THE METROPOLITAN CODE OF LAWS, I (THE HOLDER ON THIS PERMIT) HEREBY CERTIFY THAT ALL CONSTRUCTION AND DEMOLITION WASTE GENERATED BY ANY AND ALL ACTIVITIES GOVERNED BY THIS PERMIT SHALL BE DISPOSED OF IN AN APPROVED LANDFILL. FURTHER, I CERTIFY THAT NO CONSTRUCTION AND DEMOLITION WASTE SHALL BE STORED ON THE PROPERTY IN VIOLATION OF ANY PROVISION OF THE METROPOLITAN CODE….\n\n",Modern Mechanical Contractors,0.0,DONE,1907601,11704019300
616432,201301677,BUILDING RESIDENTIAL - NEW,SINGLE FAMILY RESIDENCE,2013-01-18,1508 PARIS AVE 37212,"FOR EVERY 30 FEET OF STREET FRONTAGE, OR FRACTION THEREOF, ONE 2 INCH CALIPER TREE AS LISTED IN THE URBAN FORESTRY APPROVED TREE LIST SHALL BE PLANTED ON THE SUBJECT PROPERTY. TO CONSTRUCT A 38 X 61 SINGLE FAMILY RESIDENCE WITH 3000 SF LIVING AREA, 150 SF PORCH AREAS. …………PURSUANT TO ORDINANCE NO. 2006-1263 OF THE METROPOLITAN CODE OF LAWS, I (THE HOLDER ON THIS PERMIT) HEREBY CERTIFY THAT ALL CONSTRUCTION AND DEMOLITION WASTE GENERATED BY ANY AND ALL ACTIVITIES GOVERNED BY THIS PERMIT SHALL BE DISPOSED OF IN AN APPROVED LANDFILL. FURTHER, I CERTIFY THAT NO CONSTRUCTION AND DEMOLITION WASTE SHALL BE STORED ON THE PROPERTY IN VIOLATION OF ANY PROVISION OF THE METROPOLITAN CODE….\n\n",Palmetto Construction Llc,296661.0,DONE,1905888,11704019300
616433,201301695,BUILDING RESIDENTIAL - NEW,SINGLE FAMILY RESIDENCE,2013-01-18,1508B PARIS AVE 37212,"FOR EVERY 30 FEET OF STREET FRONTAGE, OR FRACTION THEREOF, ONE 2 INCH CALIPER TREE AS LISTED IN THE URBAN FORESTRY APPROVED TREE LIST SHALL BE PLANTED ON THE SUBJECT PROPERTY. TO CONSTRUCT A 22 X 25 DETACHED GARAGE WITH 550 SF ACCESSORY DWELLING, DETACHED ON SECOND FLOOR TO COMPLY WITH METRO COUNCIL BILL 2011-900 AND MHZC PRESERVATION PERMIT 201300010. R8 BASE ZONING. KIVA SHOWS 8276.4 SF LOT AREA. INSTRUMENT RECORDED IN BOOK 20130115-0004783. …………PURSUANT TO ORDINANCE NO. 2006-1263 OF THE METROPOLITAN CODE OF LAWS, I (THE HOLDER ON THIS PERMIT) HEREBY CERTIFY THAT ALL CONSTRUCTION AND DEMOLITION WASTE GENERATED BY ANY AND ALL ACTIVITIES GOVERNED BY THIS PERMIT SHALL BE DISPOSED OF IN AN APPROVED LANDFILL. FURTHER, I CERTIFY THAT NO CONSTRUCTION AND DEMOLITION WASTE SHALL BE STORED ON THE PROPERTY IN VIOLATION OF ANY PROVISION OF THE METROPOLITAN CODE….\n\n",Palmetto Construction Llc,74481.0,DONE,1905910,11704019300
616434,199803708,BUILDING RESIDENTIAL - NEW,None,1998-05-06,11704019300 TO CONSTRUCT A NEW ATTACHED 28 X 14 CARPORT TO SIDE OF RESIDENCE. FRONT STBK MIN 24'. NO,ACTIVITY-TYPE: A01 PURPOSE: TO CONSTRUCT A NEW ATTACHED 28 X 14 CARPORT TO SIDE OF RESIDENCE. FRONT STBK MIN 24'. NOT TO BE OVER ANY EASEMENTS. BZA: SIDE STBK REQUIRED 5'. REQUEST 3'. VARIANCE OF 2' CARPORT MUST REMAIN OPEN.,Gc10237: Protech Home Improvement Llc,4706.0,DONE,1373806,11704019300
616435,199506640,CODES PLUMBING PERMIT,None,1995-12-04,11704019300 TO INSTALL A NEW 28X64 MODULAR RESIDENCE. FRONT STBK-24' BASED ON ST BLOCK AVERAGE. . SI,"ACTIVITY-TYPE: A02 DESIGNER: **IN RT'S FILE. PURPOSE: TO INSTALL A NEW 28X64 MODULAR RESIDENCE. FRONT STBK-24' BASED ON ST BLOCK AVERAGE. . SIDES-11' FRONT/REAR FACADE FACES SIDE LOT LINES. REAR-20', IN FILE SETTLEMENT STATEMENT AND TITLE PAPERS SHOWING MARY COVINGTON AS OWNER. STRRET BLOCK CHECKED BY J.P. PAPERWORK SENT TO M/P FILES 12/20/96","Pc00190: Brooks, W M Plumbing Inc",None,DONE,1213985,11704019300
616436,199516209,ELECTRICAL PERMIT,None,1995-11-29,11704019300 TO INSTALL A NEW 28X64 MODULAR RESIDENCE. FRONT STBK-24' BASED ON ST BLOCK AVERAGE. . SI,"ACTIVITY-TYPE: A02 DESIGNER: **IN RT'S FILE. PURPOSE: TO INSTALL A NEW 28X64 MODULAR RESIDENCE. FRONT STBK-24' BASED ON ST BLOCK AVERAGE. . SIDES-11' FRONT/REAR FACADE FACES SIDE LOT LINES. REAR-20', IN FILE SETTLEMENT STATEMENT AND TITLE PAPERS SHOWING MARY COVINGTON AS OWNER. STRRET BLOCK CHECKED BY J.P. PAPERWORK SENT TO M/P FILES 12/20/96",Ec08959: Borders Electric Service Inc,None,DONE,743330,11704019300
616437,199510224,BUILDING RESIDENTIAL - NEW,None,1995-11-06,11704019300 TO INSTALL A NEW 28X64 MODULAR RESIDENCE. FRONT STBK-24' BASED ON ST BLOCK AVERAGE. . SI,"ACTIVITY-TYPE: A02 DESIGNER: **IN RT'S FILE. PURPOSE: TO INSTALL A NEW 28X64 MODULAR RESIDENCE. FRONT STBK-24' BASED ON ST BLOCK AVERAGE. . SIDES-11' FRONT/REAR FACADE FACES SIDE LOT LINES. REAR-20', IN FILE SETTLEMENT STATEMENT AND TITLE PAPERS SHOWING MARY COVINGTON AS OWNER. STRRET BLOCK CHECKED BY J.P. PAPERWORK SENT TO M/P FILES 12/20/96","Covington, Mary E",98560.0,DONE,1368527,11704019300
616438,199402568,BUILDING DEMOLITION PERMIT,None,1994-03-29,11704019300 TO DEMOLISH REMAINDER OF EXISTING FIRE DAMAGED RESIDENCE. (NOT TO BE BURNED OR BURIED ON,ACTIVITY-TYPE: A02 PURPOSE: TO DEMOLISH REMAINDER OF EXISTING FIRE DAMAGED RESIDENCE. (NOT TO BE BURNED OR BURIED ON LOT) DEMO BY 4/28/94 HOUSING APPROVED: ANN STONE 3/28/94 WCA,"Gc07425: Lewis, David Contr",4000.0,DONE,474015,11704019300

In [60]:
check_assessments_query = '''
SELECT *
FROM assessment
WHERE apn = '11704019300'
'''

In [62]:
check_assessments = pd.read_sql(check_assessments_query, con = engine)
check_assessments

,class,classdesc,classvalue,effectivedate,landapprvalue,improveapprvalue,landassessvalue,improveassessvalue,totalapprvalue,status,pin,apn
0,R,RESIDENTIAL,25,2013-09-01,180000,473100,653100,45000,653100,Historical,182623,11704019300
1,R,RESIDENTIAL,25,2013-01-01,180000,0,180000,45000,180000,Historical,182623,11704019300
2,R,RESIDENTIAL,25,2010-01-01,195400,10000,205400,48850,205400,Historical,182623,11704019300
3,R,RESIDENTIAL,25,2009-01-01,195400,10000,205400,48850,205400,Historical,182623,11704019300
4,R,RESIDENTIAL,25,2009-01-01,150000,83200,233200,37500,233200,Historical,182623,11704019300
5,R,RESIDENTIAL,25,2009-01-01,150000,55400,205400,37500,205400,Historical,182623,11704019300
6,R,RESIDENTIAL,25,2005-01-01,80000,70000,150000,20000,150000,Historical,182623,11704019300
7,R,RESIDENTIAL,25,2005-01-01,80000,70000,150000,20000,150000,Historical,182623,11704019300
8,R,RESIDENTIAL,25,2005-01-01,80000,133800,213800,20000,213800,Historical,182623,11704019300
9,R,RESIDENTIAL,25,2002-01-01,45000,60000,105000,11250,105000,Historical,182623,11704019300
10,R,RESIDENTIAL,25,2001-01-01,45000,60000,105000,11250,105000,Historical,182623,11704019300
11,R,RESIDENTIAL,25,2001-01-01,45000,67000,112000,11250,112000,Historical,182623,11704019300
12,R,RESIDENTIAL,25,2001-01-01,45000,87900,132900,11250,132900,Historical,182623,11704019300
13,R,RESIDENTIAL,25,2001-01-01,45000,106400,151400,11250,151400,Historical,182623,11704019300
14,R,RESIDENTIAL,25,1997-01-01,45000,42300,87300,11250,87300,Historical,182623,11704019300
15,R,RESIDENTIAL,25,1997-01-01,45000,42300,87300,11250,87300,Historical,182623,11704019300
16,R,RESIDENTIAL,25,1997-01-01,45000,87900,132900,11250,132900,Historical,182623,11704019300
17,R,RESIDENTIAL,25,1996-01-01,22500,53700,76200,5625,76200,Historical,182623,11704019300
18,R,RESIDENTIAL,25,1996-01-01,22500,42500,65000,5625,65000,Historical,182623,11704019300
19,R,RESIDENTIAL,25,1994-06-01,22500,0,22500,5625,22500,Historical,182623,11704019300
20,R,RESIDENTIAL,25,1994-01-01,22500,1000,23500,5625,23500,Historical,182623,11704019300
21,R,RESIDENTIAL,25,1993-01-01,22500,54100,76600,5625,76600,Historical,182623,11704019300
22,R,RESIDENTIAL,25,1989-01-01,10000,20500,30500,2500,30500,Historical,182623,11704019300
23,R,RESIDENTIAL,25,1984-01-01,10000,10900,20900,2500,20900,Historical,182623,11704019300
24,R,RESIDENTIAL,25,1975-01-01,2360,11550,13910,590,13910,Historical,182623,11704019300

In [65]:
assessments[assessments['apn']=='16007003800']

,apn,date,prop_value,prop_type,prop_addr,prop_city,prop_zip
1377243,16007003800,2021-01-01,653100.0,SINGLE FAMILY,535 BAXTER LN,NASHVILLE,37220
1377244,16007003800,2017-01-01,465100.0,SINGLE FAMILY,535 BAXTER LN,NASHVILLE,37220
1377245,16007003800,2013-01-01,402900.0,SINGLE FAMILY,535 BAXTER LN,NASHVILLE,37220
1377246,16007003800,2009-01-01,388800.0,SINGLE FAMILY,535 BAXTER LN,NASHVILLE,37220
1377247,16007003800,2009-01-01,365100.0,SINGLE FAMILY,535 BAXTER LN,NASHVILLE,37220
1377248,16007003800,2007-01-01,328900.0,SINGLE FAMILY,535 BAXTER LN,NASHVILLE,37220
1377249,16007003800,2006-01-01,349900.0,SINGLE FAMILY,535 BAXTER LN,NASHVILLE,37220
1377250,16007003800,2005-01-01,351400.0,SINGLE FAMILY,535 BAXTER LN,NASHVILLE,37220
1377251,16007003800,2005-01-01,349900.0,SINGLE FAMILY,535 BAXTER LN,NASHVILLE,37220
1377252,16007003800,2005-01-01,381200.0,SINGLE FAMILY,535 BAXTER LN,NASHVILLE,37220
1377253,16007003800,2001-01-01,270000.0,SINGLE FAMILY,535 BAXTER LN,NASHVILLE,37220
1377254,16007003800,2001-01-01,245000.0,SINGLE FAMILY,535 BAXTER LN,NASHVILLE,37220
1377255,16007003800,1998-01-01,210000.0,SINGLE FAMILY,535 BAXTER LN,NASHVILLE,37220
1377256,16007003800,1997-01-01,250000.0,SINGLE FAMILY,535 BAXTER LN,NASHVILLE,37220
1377257,16007003800,1997-01-01,210000.0,SINGLE FAMILY,535 BAXTER LN,NASHVILLE,37220
1377258,16007003800,1993-01-01,172600.0,SINGLE FAMILY,535 BAXTER LN,NASHVILLE,37220
1377259,16007003800,1993-01-01,159700.0,SINGLE FAMILY,535 BAXTER LN,NASHVILLE,37220